{%extends 'base.html'%}
{%block title%}StackOverflow Scraper{%endblock%}
{%block content%}



<h1>TEST - PYTHON SUMMER INTERN</h1>

<h3>Klikněte <a class="questions" href="/scraped_data">zde</a> aby se načetlo 50 posledních otázek na StackOverflow</h3>
<h5>bude to trvat 7 sekund</h5>
<br>
<h3>Klikněte <a class="questions" href="/scraped_tags">zde</a> aby se načetly tagy z 50ti posledních otázek na StackOverflow, které mají více než 15 znaků </h3>
<h5>bude to trvat 7 sekund</h5>




{%endblock%}


